@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.contenedor-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
}

.caja-modal {
  background-color: rgba(0, 0, 0, 0.355);
  padding: 40px;
  border-radius: 30px;
  width: 670px;
  position: relative;
  box-shadow: 0 0 8px #aaa;
}

.titulo-modal {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  color: #29e3c1;
  font-size: 28px;
  margin-bottom: 20px;
}

.boton-cierre {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #161d2b;
  color: #30d1b3;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  cursor: pointer;
}

.etiqueta-subida {
  display: inline-block;
  background-color: #4a4844;
  padding: 12px 20px;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.etiqueta-subida:active {
  background-color: #29e3c1;
  transform: scale(1.1);
}

.etiqueta-subida input {
  display: none;
}

.contenedor-pdf {
  width: 100%;
  height: 300px;
  background-color: #666;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-pdf iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.etiqueta-comentario {
  display: block;
  margin-bottom: 6px;
  font-family: 'Shrikhand', serif;
  font-style: italic;
  color: #29e3c1;
  font-size: 20px;
}

.area-comentario {
  width: 100%;
  height: 80px;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  resize: none;
  background-color: #666;
  color: #29e3c1;
  font-size: 20px;
  margin-bottom: 20px;
}

.boton-envio {
  display: block;
  margin: auto;
  background-color: #f1f1f1;
  border: none;
  padding: 12px 30px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
}

.boton-envio:active {
  background-color: #29e3c1;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .caja-modal {
    width: 90%;
    padding: 20px;
  }

  .titulo-modal {
    font-size: 22px;
  }

  .area-comentario {
    height: 100px;
    font-size: 18px;
  }

  .boton-envio {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .contenedor-pdf {
    height: 200px;
  }
}