.boton-activar {
    display: flex;
    justify-content: center;

}

.boton-activar button {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: #20c29fad;
    font-weight: bold;
    margin: 20px 0;
}

.boton-activar button:hover {
    background-color: #30eec5;
}

