.boton-desactivar {
    display: flex;
    justify-content: center;

}

.boton-desactivar button {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(164, 16, 16);
    font-weight: bold;
    margin: 20px 0;
}

.boton-desactivar button:hover {

    background-color: red;

}
