.bodyinicio{
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f0fafa;
}

.logo{
    width: 80px;  
}

#tituloNav{
    color: #2ae2b6;
    margin-left: 10px;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: -10px;
}

.btn-second {
    color: white;
    text-decoration: none;
    border: solid 1px #2ae2b6;
    padding: 6px 15px;
    transition: background-color 0.3s ease;
}

.btn-second:hover {
    background-color: #2ae2b6;
    color: black;
    font-weight: bold;
}   

.btn-prim {
    text-decoration: none;
    font-weight: bold;
    background-color: #2ae2b6;
    border: solid 1px #2ae2b6;
    color: black;
    font-weight: bold;  
    padding: 6px 15px;
    transition: background-color 0.3s ease;
}

.btn-prim:hover {
    color: white;
    border: solid 1px #2ae2b6;
    background-color: transparent;
}

#btnregi, #btninic {
    background-color: #2ae2b6;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnregi {
    width: 70%;
    margin: 2px
}

#btninic {
    width: 90%;
    margin: 2px
}

#btnregi:hover, #btninic:hover {
    background-color: black;
    border: 2px solid #2ae2b6;
}

.fondo{
    background-position: center;
    margin: 0;
    z-index: -1;
}

.fondo img {
    width: 100%;
    height: 80%;
}

.contenedorInicial{
    position: relative;
    width: 100%;
    height: 90vh;

    background-image: url(../public/fondo.webp);
    background-position: center;
    background-size: cover;
}

.rectangulos{
    width: 100%;
    margin-top: -20%;
    
}

.derecha{
    position: absolute;
    top: 20%;
    right: 6%;  
    padding: 10px;
    width: 50%;
    max-width: 480px;
}

.capa1{
    background: hsla(160, 61%, 57%, 0.808);
    border: solid hsla(160, 61%, 57%, 0.808);
    width: 60%;
    text-align: center;
    color: black;
    font-weight: bold;
    transform: translateX(50%);
    font-size: 14px;
    clip-path: polygon(0% 100%, 10% 0%, 90% 0%, 100% 100%);
}

.capa2{
    background: black;
    width: 100%;
    transform: skew(-20deg);
    color: aliceblue;
    display: flex;
    gap: 30px;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.Inicio {
    background-color: #2ae2b6;
    padding: 0 10px;
}

.capa2 a {
    text-decoration: none;
    color: white;

}

.capa2 p{
    color: white;
    cursor: pointer;
    position: relative;
    top: 7px;
}

.capa2 a:hover, .capa2 p:hover{
    color: #2ae2b6;
    text-decoration: none;
}

.Inicio:hover {
    background-color: #2ae2b6;
    color: black;
    font-weight: bold;
}

.contenedor_texto_central{
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_central{
    background-color: rgba(255, 255, 255, 0.514);
    font-size: 25px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: black;
}

#btnoferta{
    background-color: #2ae2b6;
    color: black;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    display: block;
    text-decoration: none;

}

#btnoferta:hover{
    background-color: black;
    color: #2ae2b6;
}

#contP {
    display: flex;
    justify-content: center;
}

#containerCat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    background-color: transparent;
}

#containerCat article {
    background-color: #2ae2b6;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about {
    height: 600px;
    background-color: #222838;
    padding: 30px;
    color: white;
    background-color: transparent;

}

#about h1 {
    text-align: center;
}

.hh{
    border:solid #2ae2b6;
}

.text {
    width: 70%;
    line-height: 40px;
    margin: auto;
    font-size: 22px;
    text-align: right;
  
}
.text p{
  padding-right: 20px;
  font-style: italic;
  text-align: right;
}










@media (max-width: 768px){
    .contenedor_texto_central{
        width: 80%;
    }
    .texto_central{
        font-size: 20px;
        border-radius: 20px;
    }
    .derecha {
        position: static;
        max-width: 100%;
        padding: 10px 0;
        margin: 0 auto 20px auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        transform: none;
    }
    .rectangulos {
        margin-top: 5%;
        width: 100%;
    }
}
