.notificaciones-container {
  position: absolute;
  right: 103px;
  top: 20px;
  display: inline-block;
}

.campana-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.barra-notificaciones {
  position: absolute;
  right: 0;
  top: 40px;
  width: 450px;
  max-height: 600px;
  overflow-y: scroll;
  background-color: #d3d3d3c6;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.barra-notificaciones h3 {
  margin-top: 0;
  font-size: 18px;
}

.notificacion-item {
  background-color: #f0f0f0;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 6px;
  position: relative;
}

.notificacion-item p {
  margin: 5px 0 0;
}

.punto-verde {
  width: 10px;
  height: 10px;
  background-color: #00e6b8;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}
