

#trabajosD {
  text-align: center;
  background-color: #222838;
  padding: 30px;
  background-color: transparent;
}

#trabajosD h1 {
  text-align: center;
  color: white;
}
.barra-busqueda {
  text-align: center;
}

.barra-busqueda input {
  background-color: transparent;
  width: 50%;
  border-radius: 10px;
  padding: 7px 10px;
  border: solid 1.05px gray;
  color: #2ae2b6;
}

.barra-busqueda input:focus {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 150, 136, 0.5);
  border-color: #009688;
}

#SectOfertas {
  width: 100%;
  overflow: hidden;
  height: 200vh;
  overflow-y: scroll;
  padding: 50px;
}

#containerOf {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0;
  width: 100%;
  justify-content: space-around;
}

#containerOf article {
  background-color: #0c4d3d98;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 0;
  width: 45%;
  color: white;
  height: auto;
}

#containerOf article:hover {
  background-color: #2ae2b6;
}

#containerOf article h3 {
  color: yellow;
  padding: 5px;
  font-family: cursive;
  width: 100%;
  overflow: hidden;
}

.imgOferta {
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
  height: 250px;
  width: 70%;
}


@media ((min-width: 700px) and (max-width: 1050px)) {

  #trabajosD {
    padding: 0;
  }

  #SectOfertas {
    padding: 20px 0px;
  }

  #containerOf {
    gap: 30px 0;
  }

  .imgOferta {
    width: 80%;
    min-height: 150px;
    object-fit: cover;
  }

}

@media ((min-width: 501px) and (max-width: 699px)){
  
  #trabajosD {
    padding: 0;
  }  

  #SectOfertas {
    padding: 20px 0px;
  }

  #containerOf {
    gap: 20px 0;
  }

  .imgOferta {
    width: 90%;
    height: 150px;
    object-fit: cover;
  }
}


@media (max-width: 500px) {

  
  #trabajosD h1 {
    font-size: 18px;
  }

  #SectOfertas {
    padding: 10px 5px;
  }

  #containerOf article {
    width: 100%;
    padding: 10px;
  }

  .imgOferta {
    width: 80%;
    min-height: 120px;
    object-fit: cover;
  }


}
