#trabajosD {
    text-align: center;
    background-color:  #222838;
    padding: 30px;
    background-color: transparent;
}
#trabajosD h1 {
    text-align: center;
    color: white;
}
.filtros{
    margin-top: -30px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.filtros select, .filtros input, .filtros input::placeholder {
    background-color: gray;
    color: aquamarine;
    padding: 5px;
}

#SectOfertas {
    width: 100%;
    overflow: hidden;
    height: 200vh;
    overflow-y: scroll;
    padding: 50px;
}

#containerOf {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0;
    width: 100%;
    justify-content: space-around;
}


#containerOf article {
    background-color: #0c4d3d98;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0;
    width: 45%;
    color: white;
    height: auto;

}

#containerOf article:hover {
    background-color: #2ae2b6;
}

#containerOf article h3 {
    color: yellow;
    padding: 5px;
    font-family: cursive;
    width: 100%;
    overflow: hidden;
} 

.imgOferta {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    min-height: 250px;
    width: 80%;
}
