.trabajosDAdmin {
    width: 80%;
}
.trabajosDAdmin h1 {
    text-align: center;
    color: white;
}

#SectOfertasAdmin {
    width: 100%;
    overflow: hidden;
    height: 72vh;
    overflow-y: scroll;
    padding: 20px 50px;
    margin-top: 20px;
    
}

#containerOfAdmin {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0;
    width: 100%;
    justify-content: space-around;
}


.statusDesactiva {
    background-color: #4d0c0c98;
}

.statusDesactiva:hover {
    background-color: #b70c0cab;
}

.StatusActiva {
    background-color: #0c4d3d98;
}

.StatusActiva:hover {
    background-color: #2ae2b6;
}

#containerOfAdmin article {
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0;
    width: 45%;
    color: white;
    height: auto;
    text-align: center;
}


#containerOfAdmin article h3 {
    color: yellow;
    padding: 5px;
    font-family: cursive;
    width: 100%;
    overflow: hidden;
}

.imgOfertaAdmin {
    margin-top: 5px;
    margin-bottom: 15px;
    height: 250px;
    border-radius: 10px;
    width: 80%;
}

.SDM {
    position: relative;
    top: 15px;
    left: 20px;
    background-color: transparent;
    border: solid gray 0.5px;
    border-radius: 10px;
    padding: 5px 10px;
    color: #30eec5;
    display: flex;
    align-items: center;
    gap: 10px;
}

.SDM:hover {
    background-color: #30eec57b;
    color: black;
    font-weight: bold;
}



.SectionDetallesAdmin {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.355);
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    color: #fff;
    overflow-y: scroll;
    height: 80vh;

}

.ContMainDetallesAdmin {
    width: 80%;
    margin: auto;
}

.titulo-ofertaAdmin {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

.grid-detallesAdmin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 20px;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #30eec5;
    font-size: 1.2rem;
}

.card-contenedorAdmin {
    min-height: 180px;
}

.descripcionOfertaDashboard {
    color: #2ae2b6;
    margin-bottom: 10px;
} 

.descripcionAdmin {
    background-color: rgba(203, 194, 194, 0.595);
    border-radius: 20px;
    color: #2ae2b6;
    padding: 20px;
    word-wrap: break-word;
    margin-bottom: 10px;
}


.contbtnAcciones {
    margin: 10px 0;
    display: flex;
    justify-content: right;
}

.contbtnAcciones button {
    padding: 7px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.contbtnAcciones button:hover {
    box-shadow: 5px 5px 10px white;
    transform: scale(1.05);
}

.BtnPostulantes {
    background-color: gray;
}

.BtnPostulantes:hover {
    background-color: rgb(203, 194, 194);
}

.BtnEditar {
    width: 100px;
    background-color: #2ae2b77b;
    margin-left: 10px;
}

.BtnEditar:hover {
    background-color: #2ae2b6;
}

.boton-desactivar {
    background-color: rgb(119, 157, 43);
    margin: 0 10px;
}

.boton-desactivar:hover {
    background-color: rgb(183, 255, 38);
}

.boton-activar {
    margin: 0 10px;
    background-color: #0b9d25ad;
}

.boton-activar:hover {
    background-color: #11ee39ad;
} 

.boton-eliminar {
    margin: 0 10px;
    background-color: rgba(160, 13, 42, 0.748);
}

.boton-eliminar:hover {
    background-color: crimson;
} 


#ContUltimasPublicaciones{
    margin: 0 auto;
    width: auto;  
}

@media ((min-width: 681px) and (max-width: 1068px)) {


    #SectOfertasAdmin {
        padding: 20px 0px;
    }

    #containerOfAdmin {
        gap: 20px 0;
    }

    .imgOfertaAdmin {
        width: 90%;
        min-height: 150px;
        object-fit: cover;
    }
    
    .contbtnAcciones {
        background-color: red;
        display: flex;
    }

}

@media (max-width: 680px) {

    #containerOfAdmin {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    #SectOfertasAdmin {
        padding: 0;
    }

    #containerOfAdmin article {
        width: 100%;
        border-radius: 0;
    }

    .imgOfertaAdmin {
        width: 90%;
        min-height: 150px;
        object-fit: cover;
    }

    .contbtnAcciones button {
        padding: 7px 10px;
    }

    .SectionDetallesAdmin {
        width: 100%;
        border-radius: 0;
    }

}
