
.trabajosDAdmin {
    width: 80%;
}
.trabajosDAdmin h1 {
    text-align: center;
    color: white;
}
.filtrosAdmin{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filtrosAdmin select, .filtrosAdmin input, .filtrosAdmin input::placeholder {
    background-color: gray;
    color: aquamarine;
    padding: 5px;
    width: 140px;
    border-radius: 5px;
    border: none;
}

#SectOfertasAdmin {
    width: 100%;
    height: 75vh;
    overflow-y: scroll;
    padding: 20px 50px;
    margin-top: 30px;
}


#containerOfAdmin {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0;
    width: 100%;
    justify-content: space-around;

}


.statusDesactiva {
    background-color: #4d0c0c98;
}

.statusDesactiva:hover {
    background-color: #b70c0cab;
}

.StatusActiva {
    background-color: #0c4d3d98;
}

.StatusActiva:hover {
    background-color: #2ae2b6;
}

#containerOfAdmin article {
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0;
    width: 45%;
    color: white;
    height: auto;
    text-align: center;
}

#containerOfAdmin article h3 {
    color: yellow;
    padding: 5px;
    font-family: cursive;
    width: 100%;
    overflow: hidden;
}

.imgOfertaAdmin {
    margin-top: 5px;
    min-height: 200px;
    max-height: 200px;
    min-width: 60%;
    border-radius: 10px;
    width: 60%;
    border: solid;
}

.SDM {
    position: relative;
    top: 15px;
    left: 20px;

    background-color: transparent;
    border: solid gray 0.5px;
    border-radius: 10px;
    padding: 5px 10px;
    color: #30eec5;
    display: flex;
    align-items: center;
    gap: 10px;
}

.SDM:hover {
    background-color: #30eec57b;
    color: black;
    font-weight: bold;
}



.SectionDetallesAdmin {
    margin-top: 30px;
    width: 100%;
    overflow-y: scroll;
    max-height: 85vh;
}

.ContMainDetallesAdmin {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.355);

    width: 80%;
    margin: auto;
    padding: 20px 40px;
    color: white;
    line-height: 20px;
}

.titulo-ofertaAdmin {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.titulOfertaEdit {
    background-color: transparent;
    border: solid 1px white;
    color: white;
    border-radius: 10px;
    padding: 7px;
    width: 50%;
    text-align: center;
}

.grid-detallesAdmin {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 10px;
}

.grid-detallesAdmin2 {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 10px;
  
}

.grid-detallesAdmin2 select {
    background-color: transparent;
    border: solid 0.01px gray;
    color: white;
    border-radius: 10px;
    width: 70%;

    padding: 0;
}

.item {
  display: flex;

  gap: 5px;
  padding: 0 5px;
  color: #30eec5;
  font-size: 1.2rem;
}

.b {
    width: 40%;
}

.bEmpresa {
    width: 40%; 
}

.PEmpresa {
    height: 60px;
    overflow: hidden;
}

.inputEditOfertas {
    background-color: transparent;
    border: solid 1px white;
    color: white;
    border-radius: 10px;
    padding: 0;
    padding-left: 5px;
    width: 50%;
    height: 30px;
}

.card-contenedorAdmin {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-contenedorAdmin h4 {
    align-self: start;
}

.descripcionOferta {
    background-color: rgba(213, 211, 211, 0.274);
    color: black;
    border-radius: 20px;
    padding: 20px;
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
}

.descripcionOfertaTextarea {
    background-color: rgba(213, 211, 211, 0.274);
    color: black;
    border-radius: 20px;
    padding: 20px;
    word-wrap: break-word;
    width: 100%;
    min-height: 150px;
    margin-bottom: 20px;
    resize: none;
}

.contbtnAcciones {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: right;
}

.contbtnAcciones button {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.contbtnAcciones button:hover {
  transform: translateY(-5px);
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 25px white;
}

.BtnEditar {
  background-color: #2ae2b77b;
}

.BtnDesactivar {
  background-color: yellowgreen;
}

.BtnActivar {
  background-color: green;
}

.BtnEliminar {
  background-color: crimson;
}