@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

#bodyRegisterAdmin {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#contRegisterAdmin{
    background-color: transparent;
    border: solid 1px gray;
    width: 60%;
    margin: auto;
    min-width: 400px;
    border-radius: 20px;
    padding: 50px 50px;
}

#contRegisterAdmin header {
    position: relative;
    top: -20px;
}


#contRegisterAdmin span {
    color: red;
}

#contRegisterAdmin label {
    color: white;
}

.contInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.contInputs input {
    width: 100%;
}

.inputsR {
    padding: 7px;
    padding-left: 20px;
    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.636);
    color: #2ae2b6;
}

.inptCorreo {
    grid-column: span 2;
}



.inputs1Admin {
    padding: 7px;
    padding-left: 20px;
    width: 100%;
    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.636);
    background-color: #191e2b8e;
    color: #2ae2b6;
}

#contRegisterAdmin input:focus {
    border: solid #2ae2b6;
    color: #2ae2b6;
}




#btnsRegister button {
    width: 47%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
}

.btnNextRegister {
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 15px;
    margin: auto;
}


.btnRegister {
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 15px;
    margin: auto;
    width: 100%;
}



#ContIntereses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}   

.ItemInteres {
    background-color: #222838;
    color: #2ae2b6;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.ItemInteres input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


