@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

#bodyRegister {
    background-image: url('../assets/wallpaperLogin.jfif');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contRegister{
    background-color: transparent;
    border: solid 1px gray;
    width: 50%;
    border-radius: 20px;
    position: relative;
    padding: 3% 5%;
}

#contRegister header {
    position: absolute;
    top: 15px;
    left: 15px;
}

#contRegister h1 {
    text-align: center;
    margin-bottom: -10px;
    color: #2ae2b6;
    font-family: "Shrikhand", serif;
    font-style: normal;
    margin-bottom: 20px;
}

#contRegister h2 {
    margin-bottom: 20px;
    color: white;
    border-bottom: solid 3px #2ae2b6;
    font-style: italic;
}

.DIVbtnR {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#contRegister span {
    color: red;
}

.inputs1 {
    padding: 7px;
    padding-left: 20px;
    width: 100%;
    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.636);
    background-color: #222838;
    color: #2ae2b6;
}

#contRegister input:focus {
    border: solid #2ae2b6;
    color: #2ae2b6;
}

#contRegister label {
    color: white;
}

#btnsRegister {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btnROferente {
    background-color: #2ae2b6;
}

.btnRE{
    background-color: gray;
}

#btnsRegister button {
    width: 47%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
}

.btnNextRegister {
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 15px;
    margin: auto;
}


.inputs {
    margin: 0 10px;
    padding: 7px;
    padding-left: 20px;
    border-radius: 10px;
    width: 44%;
    border: solid 2px rgba(255, 255, 255, 0.636);
    background-color: #222838;
    color: #2ae2b6;
}

.btnRegister {
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 15px;
    margin: auto;
    width: 100%;
}



#ContIntereses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}   

.ItemInteres {
    background-color: #222838;
    color: #2ae2b6;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.ItemInteres input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


