
.sidebar{
    width: 150px;
    height: 100vh;
    background-color: bisque;
    color: black;
    padding: 20px;
}

.sidebar ul{
    list-style: none;
    padding: auto;
}

.sidebar li{
    padding: 15px;
}


.sidebar li:hover{
    background-color: white;
}