
#PerfilUser {
    color: white;
    display: flex;
    height: 70vh;
    margin: 50px auto;
    padding: 0px 100px;
}

.Cont2 {
    width: 100%;
    height: 520px;
    border-radius: 12px;
    padding: 20px 150px;
    overflow-y: auto;
}

.User {
  background-color: #0c4d3d98;
  border-radius: 8px;
  padding: 10px 100px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 18px;

  display: flex;

}

.User:hover {
    background-color: #2ae2b6;
    transform: scale(1.03);
}

.UserLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.UserIcon {
  width: 30%;
  text-align: center;
}

.UserRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.user-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.user-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  padding-left: 10px;
}



.ImgEdit {
  padding: 5px;
  border: dashed;
}

.ImgEdit:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 25px white;
}
