@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.contenedor-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
}

.caja-modal {
  background-color: rgba(0, 0, 0, 0.355);
  padding: 20px 70px;
  border-radius: 30px;
  width: 50%;
  position: relative;
  box-shadow: 0 0 8px #aaa;
}

.titulo-modal {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  color: #29e3c1;
  font-size: 28px;
  margin-bottom: 20px;
}

.boton-cierre {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #161d2b;
  color: #30d1b3;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  cursor: pointer;
}

.etiqueta-subida {
  font-family: 'Shrikhand', cursive;
  display: inline-block;
  background-color: #f1f1f1;
  padding: 12px 20px;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  background: #4a4844;
  cursor: pointer;
  margin-bottom: 10px;
}

.etiqueta-subida:hover {
  background-color: #29e3c1;
}

.etiqueta-subida input {
  display: none;
}

.contenedor-pdf {
  width: 100%;
  height: 100%;
  background-color: #888;
  border-radius: 20px;
}

.etiqueta-comentario {
  font-family: 'Shrikhand', cursive;
  font-weight: bold;
  color: #29e3c1;
  font-size: 20px;  
}

.area-comentario {
  width: 100%;
  height: 80px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  resize: none;
  background-color: #666666a2;
  color: #29e3c1;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.boton-envio {
  display: block;
  margin: auto;
  background-color: #10bb9b;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.boton-envio:hover {
  background-color: #29e3c1;
  transform: translateY(-2px);
  box-shadow: 0px 0px 20px #29e3c1;
}
