.headerDashboard {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #9293936a;
    text-align: center;
    padding: 17px;
    margin-bottom: 20px;
}
.headerDashboard h3 {
    width: 100%;
}

.headerDashboard svg:hover {
    transform: scale(1.2);
}

#PerfilAdmin {
    color: white;
    display: flex;
    height: 70vh;
    margin: 50px auto;
    padding: 10px 100px;
}

.itemPerfil {
    width: 50%;
    padding: 30px;
}

.itemPerfil label {
    color: #2ae2b798;
    font-weight: bold;
}

.itemPerfil p {
    padding: 7px;
    width: auto;
}

.SubContPerfilAdmin1 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px white;
}

.SubContPerfilAdmin1 {
    border-radius: 20px 0 0 20px;
    background-color: rgba(0, 0, 0, 0.355);
}

.SubContPerfilAdmin2 {
    border-radius: 0 20px 20px 0;
    background-color: rgba(0, 0, 0, 0.355);
    padding-top: 50px;

}

.contbtnEditar {
    text-align: right;
    width: 80%;
}

.contbtnEditar button {
    background-color: #2ae2b77b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

.contbtnEditar button:hover {
    background-color: #2ae2b7;
    color: black;
    font-weight: bold;
}

.inputEdit {
    background-color: transparent;
    border: solid 1px white;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 80%;
}


.VistaIMG:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
}

.btnEquiz:hover {
    transform: scale(1.5);
}



