
#about {
    height: 600px;
    background-color: #222838;
    padding: 30px;
    color: white;
    background-color: transparent;

}

#about h1 {
    text-align: center;
}

.hh{
    border:solid #2ae2b6;
}

.text {
    width: 70%;
    line-height: 40px;
    margin: auto;
    font-size: 22px;
    text-align: right;
  
}
.text p{
  padding-right: 20px;
  font-style: italic;
  text-align: right;
}

